html {
  height: 100%;
}
body {
  margin: auto;
  color: blue;
  background: #fff url('../img/city1.jpg') repeat center;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

map area {
  outline: none;
}

#mount {
  height: 100%;
}

.flex-row {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: row nowrap; /* Safari */
  flex-flow:         row nowrap;
  align-items: center;
  width: 100%;
}
.flex-column {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: column nowrap; /* Safari */
  flex-flow:         column nowrap;
  margin-top: auto;
  align-items: center;
  @media (min-width: 1060px) {
    height: 100%;
  }
}

.nav li a {
  display: inline;
}

.nav li {
  a:focus, a:hover, a:active {
    background: none;
  }
}

.navbar .navbar-nav {
  text-align: center;
  display: inline-block;
  float: none;
  vertical-align: top;
  margin: auto;
  width: 100%;
  li{
    width: 25%;
  }
}

.navbar .navbar-collapse {
  margin-top: 15px;
}

.name {
  position: fixed;
  left:30px;
  bottom:25px;
}

.flag {
  position: fixed;
  right:35px;
  bottom:20px;
  @media (max-width: 767px) {
    display: none;
  }
}

.splash2 {
  background-color: #fff;
  height: 100%;
  text-align: center;
  img.main {
    width: 100%;
    @media (min-width: 1060px) {
      height: 100%;
      width: auto;
    }
  }
  .links {
    position: relative;
    height: 100%;
  }
  .flex-row-item {
    width: 33.3%;
  }
  .flex-col-item1 {
    width: 100%;
    @media (min-width: 1060px) {
      height: 82%;
    }
  }
  .flex-col-item2 {
    width: 100%;
    @media (min-width: 1060px) {
      height: 10%;
    }
  }
  .download {
    a {
      font-weight: bold;
    }
    a:hover {
      text-decoration: none;
    }
    span {
      padding-right: 0.5em;
      padding-left: 1em;
    }
  }
  .arrow {
    text-align: right;
    @media (min-width: 1060px) {
      height: 100%;
    }
    img {
      width: 50%;
      @media (min-width: 1060px) {
        height: 100%;
        width: auto;
      }
    }
  }
  #lyrics {
    img {
      margin: 0 auto;
      display: block;
    }
    margin-bottom: 6em;
  }
}

.splash {
  overflow: hidden;
  background-color: white;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow:         row nowrap;
  position: absolute;
  left:0;
  top:0;
  .splash-img {
    height: 100%;
    width: auto;
  }
  .splash-player {
    height: 100%;
  }
  #splash-car {
    position: absolute;
    left:0;
    bottom: 1%;
    transition: left 0.125s ease-out;
  }
  #lyrics {
    display: none;
    height: 100%;
    width: 585px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 0.5em;
    img {
      width: 100%;
    }
  }

  .rocket-container {
    position: absolute;
    bottom: 0;
    #rocket {
      margin: 0 2em;
    }
  }

  .carousel,.carousel-inner,.item,.active {height:100%;}
  .carousel-inner > .item > img {
    max-width: none;
    height: 100%;
  }
}

.tour-gallery {
  height: 100vw;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: column wrap; /* Safari */
  flex-flow:         column wrap;
  div {
    width: 33.3%;
    padding: 15px;
  }
  img {
    width: 100%;
  }
}

.music-view {
  width: 100%;
  color: black;
  font-size: 0.9em;
  .social-share-container {
    margin: 0.5em;
    @media (min-width: 1060px) {
      position: fixed;
      bottom: 0.5em;
      right: 0.5em;
    }
    justify-content: flex-end;
  }
  @media (min-width: 1060px) {
    margin-top: 0.5em;
    position: fixed;
    bottom: 0;
  }
}

.Player {
  text-align: left;
  width: 100%;
  border: 1px black solid;
  .current {
    border-bottom: 1px #333 solid;
    color: white;
    background-color: #1a1a1a;
  }
  .current-title {
    padding-left: 0.5em;
  }
  .player-state-button {
    color: #afcf72;
    padding: 0.5em;
    border-right: 1px #333 solid;
  }
  .current-song {
    font-size: larger;
  }
}

.Song {
  padding: 0.4em;
  border-top: 1px #333 solid;
  cursor: pointer;
  .fa {
    margin: 0.5em;
  }
}

.active-song-row {
  font-weight: bold;
  color: #3d41c7;
}


// loading css
// ***

.loader-container {
  border-right: 1px #333 solid;
  padding: 0.5em;
}

.loader {
  margin: 0.7em;
  font-size: 0.5em;
  position: relative;
  text-indent: -9999em;
  border-top: 0.4em solid rgba(255, 255, 255, 0.2);
  border-right: 0.4em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.4em solid rgba(255, 255, 255, 0.2);
  border-left: 0.4em solid #afcf72;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Icon Down */
@-webkit-keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

/* Icon Down */
.hvr-icon-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
}
.hvr-icon-down:before {
  content: "\f063";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-down:hover:before, .hvr-icon-down:focus:before, .hvr-icon-down:active:before {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
