body {
  margin: auto;
  color: blue;
  background: #fff url('../img/city1.jpg') repeat;
}

.nav li a {
  display: inline;
}

.nav li {
  a:focus, a:hover, a:active {
    background: none;
  }
}

.navbar .navbar-nav {
  text-align: center;
  display: inline-block;
  float: none;
  vertical-align: top;
  margin: auto;
  width: 100%;
  li{
    width: 25%;
  }
}

.navbar .navbar-collapse {
  margin-top: 15px;
}

.name {
  position: fixed;
  left:30px;
  bottom:25px;
}

.flag {
  position: fixed;
  right:35px;
  bottom:20px;
  @media (max-width: 767px) {
    display: none;
  }
}

.splash {
  text-align: center;
}

.tour-gallery {
  height: 100vw;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: column wrap; /* Safari */
  flex-flow:         column wrap;
  div {
    width: 33.3%;
    padding: 15px;
  }
  img {
    width: 100%;
  }
}

// social icons flex container
.social-share-container {
  display: flex;
  flex-direction: row;
}
