@import 'https://fonts.googleapis.com/css?family=Archivo+Narrow';

html, body {
  height: 100%;
}
body {
  margin: auto;
  color: blue;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#mount {
  height: 100%;
}

.flex-row {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: row nowrap; /* Safari */
  flex-flow:         row nowrap;
  align-items: center;
}
.flex-column {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: column nowrap; /* Safari */
  flex-flow:         column nowrap;
  margin-top: auto;
  align-items: center;
}

.nav li a {
  display: inline;
}

.nav li {
  a:focus, a:hover, a:active {
    background: none;
  }
}

.navbar .navbar-nav {
  text-align: center;
  display: inline-block;
  float: none;
  vertical-align: top;
  margin: auto;
  width: 100%;
  li{
    width: 25%;
  }
}

.navbar .navbar-collapse {
  margin-top: 15px;
}

.name {
  position: fixed;
  left:30px;
  bottom:25px;
}

.flag {
  position: fixed;
  right:35px;
  bottom:20px;
  @media (max-width: 767px) {
    display: none;
  }
}

.splash {
  height: 100%;
  text-align: center;
  font-family: 'Archivo Narrow';
  .logo-box {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 25%;
    img {
      @media (orientation: portrait) {
        width: 65%;
      }
    }
  }
  .fadeInDownOut {
    -webkit-animation: fadeInDownOut 2s linear forwards;
    animation: fadeInDownOut 2s linear forwards;
    opacity: 0;
  }
  .fadeOut {
    -webkit-animation-delay: 2s; animation-delay: 2s;
    -webkit-animation-duration: 1s; animation-duration: 1s;
    -webkit-animation-fill-mode: both; animation-fill-mode: both;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }
  .fadeIn {
    -webkit-animation-delay: 2s; animation-delay: 2s;
    -webkit-animation-duration: 1s; animation-duration: 1s;
    -webkit-animation-fill-mode: both; animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  .carousel, .carousel-inner, .item {
    height: 100% !important;
    width: auto !important;
    img {
      height: 100% !important;
      width: auto !important;
      margin: 0 auto !important;
      cursor: pointer;
    }
  }
  .links {
    position: relative;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }
  .main {
    height: 91%;
    background: #fff url('../img/city1white.jpg') repeat top center;
    @media (orientation: portrait) {
      height: 86%;
    }
  }
  .flex-row-item {
    width: 33.3%;
    align-self: center;
    @media (orientation: portrait) {
      width:100%;
    }
  }
  .flex-col-item1 {
    height: 92%;
    margin-bottom: -5px;
  }
  .flex-col-item2 {
    width: 100%;
    height: 8%;
    margin-top: 5px;
    background-color: white;
  }
  .download {
    font-size: 1.8em;
    a {
      color: #ae0e30;
      text-decoration: none;
    }
    span {
      padding-left: 1em;
      &:hover {
        font-weight: bold;
      }
    }
  }
  .scrolldown {
    text-align: left;
    align-self: flex-end;
    color: gray;
    font-size: 1em;
    padding: 0.5em 1.5em;
    span {
      margin: 0 0.5em;
    }
    @media (orientation: portrait) {
      text-align: center;
      padding: 0 0.5em 0.5em 0.5em;
      order: 2;
    }
  }
  .arrow {
    text-align: right;
    height: 100%;
    img {
      height: 100%;
      width: auto;
    }
    @media (orientation: portrait) {
      display: none;
    }
  }
  #lyrics {
    background: #fff url('../img/splash-1992/map.jpg') repeat top center;
    width: 100%;
    img {
      width: 585px;
      margin: 0 auto;
      display: block;
    }
    border-top: 1px solid gray;
    padding: 0 0 8em 0;
    margin-top: 3em;
    overflow-x: scroll;
  }
}

@-webkit-keyframes fadeInDownOut {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);}
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);}
  100% {
    opacity: 0;}
}

@keyframes fadeInDownOut {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);}
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);}

  100% {
    opacity: 0;}
}
@-webkit-keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}
@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}
@-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.music-view {
  a {
    text-decoration: none;
    &:hover {
      color: black;
    }
    color: white;
  }
  z-index: 100;
  width: 100%;
  color: black;
  font-size: 0.9em;
  @media (max-width: 700px) {
    font-size: 0.8em;
  }
  .social-share-container {
    width: 400px;
    margin: 0.5em;
    justify-content: flex-end;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    @media (orientation: portrait) {
      display: none;
    }
  }
  position: fixed;
  bottom: 0;
}

.Player {
  text-align: left;
  width: 100%;
  .current {
    color: white;
    background-color: #1a1a1a;
  }
  .current-title {
    padding-left: 1em;
  }
  .player-state-button, .player-next-button, .player-previous-button {
    color: #fff;
    padding: 0.2em 0.5em;
    height: 54px;
    border-right: 1px #333 solid;
    align-self: center;
    img {
      height: 100%;
      width: auto;
    }
  }
  .current-song {
    font-size: larger;
  }
}

.Song {
  padding: 0.4em;
  border-top: 1px #333 solid;
  cursor: pointer;
  .fa {
    margin: 0.5em;
  }
}

// loading css
// ***

.loader-container {
  border-right: 1px #333 solid;
  padding: 0.2em;
}

.loader {
  margin: 0.7em;
  font-size: 0.6em;
  position: relative;
  text-indent: -9999em;
  border-top: 0.4em solid rgba(255, 255, 255, 0.2);
  border-right: 0.4em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.4em solid rgba(255, 255, 255, 0.2);
  border-left: 0.4em solid #afcf72;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Icon Down */
@-webkit-keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

/* Icon Down */
.hvr-icon-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
}
.hvr-icon-down:before {
  content: "\f01a";
  position: absolute;
  right: 1em;
  padding: 2px 1px 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-down:hover:before, .hvr-icon-down:focus:before, .hvr-icon-down:active:before {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

// disabled class for prev next btns
.disabled-btn {
  opacity: 0.5;
}
